{{ define "content" }}
<h1>
    Yardım Listesi
    <a href="yeni-ekle" class="btn btn-outline-primary float-right"><i class="fa fa-plus"></i> Yeni Yardım Ekle</a>
</h1>
<hr>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Kayıt Tablosu</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Yardım Türü</th>
                    <th>İl</th>
                    <th>İlçe</th>
                    <th>Eklenme Tarihi</th>
                    <th>İşlemler</th>
                </tr>
                </thead>
                <tbody>
                {{ range $index, $value := .List }}
                <tr>
                    <th scope="row">{{ $value.Id }}</th>
                    <td>{{ $value.Content }}</td>
                    <td>{{ $value.City }}</td>
                    <td>{{ $value.Distict }}</td>
                    <td>{{ $value.CreatedAt }}</td>
                    <td>
                        <a href="/detail/{{ $value.Id }}" class="btn btn-outline-success btn-sm"><i class="fa fa-eye"></i> Detay</a>
                        <a href="/" class="btn btn-outline-primary btn-sm"><i class="fa fa-location-arrow"></i> Konum</a>
                        <a href="/edit/{{ $value.Id }}" class="btn btn-outline-secondary btn-sm"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
<p class="mb-4 text-center">Yardım ulaşan bölgelerdeki vatandaşların yardımlardan haberdar olabilmesi için, lütfen teyitli noktalardaki yardımları depremzedeler ile paylaşınız.</p>

{{ end }}