{{ define "content" }}
<h1 class="gizle">
    Detaylar
    <a href="/" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i> Geri Dön</a>
</h1>
<hr>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Kayıt Tablosu</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Yardım Türü</th>
                    <th>İl</th>
                    <th>İlçe</th>
                    <th>Eklenme Tarihi</th>
                    <th>Adres</th>
                    <th>Telefon No</th>
                    <th>Açıklama</th>
                    <th>İşlemler</th>
                </tr>
                </thead>
                <tbody>
                {{ range $index, $value := . }}
                <tr>
                    <th scope="row">{{ $value.Id }}</th>
                    <td>{{ $value.Content }}</td>
                    <td>{{ $value.City }}</td>
                    <td>{{ $value.Distict }}</td>
                    <td>{{ $value.CreatedAt }}</td>
                    <td>{{ $value.Adress }}</td>
                    <td>{{ $value.Number }}</td>
                    <td>{{ $value.Description }}</td>
                    <td>
                        <a href="/detail/{{ $value.Id }}" class="btn btn-outline-primary btn-sm"><i class="fa fa-location-arrow"></i> Konum</a>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}