{{ define "content" }}
<h1 class="gizle">
    Kayıt Güncelleme
    <a href="/admin" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i> Geri Dön</a>
</h1>
<hr>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Güncelleme Tablosu</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Yardım Türü</th>
                    <th>İl</th>
                    <th>İlçe</th>
                    <th>Eklenme Tarihi</th>
                    <th>İşlemler</th>
                </tr>
                </thead>
                <tbody>
                {{ range $index, $value := .Update }}
                <tr>
                    <th scope="row">{{ $value.Update_Id }}</th>
                    <td>{{ $value.Content }}</td>
                    <td>{{ $value.City }}</td>
                    <td>{{ $value.Distict }}</td>
                    <td>{{ $value.CreatedAt }}</td>
                    <td>
                        <a href="/admin/update-check/{{ $value.Id }}" class="btn btn-outline-primary"><i class="fa fa-info"></i></a>
                        <a href="/admin/reqdelete/{{ $value.Id }}" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}